.bg {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #111315;
    padding-bottom: 200px;
}
.bgCafe {
    height: 40vh;
    width: 100%;
    background-image: url("./assets/bg-cafe.jpg");
    background-size: cover;
    background-position: center;
    min-height: 200px;
}